-var title = ["Mi Blog", "Blogs", "Blog", "Perfil",];
-var titulo = ["Sabila", "Romero", "Limon", "Stevia", "Ajo", "La ConSuelda", "El Guacimo", "Naranja Agria", "Matarraton", "Penicilina", "Guanabano", "Marihuana o Cannabis", "Noni", "Yarumo", "Verdolaga"];
mixin blog(imagen, titulo, contenido, enlace)
	article.post-container
		img(src="./assets/images/"+imagen, alt="")
		h3=titulo
		p=contenido
		a.blogs-boton(href=enlace) Leer mas 
doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="css/font/flaticon.css")
	link(rel="stylesheet", href="css/media-queri.css")