header 
	section.container-header__redes 
		div.icons
			a(href="")
				span.flaticon-001-facebook 
			a(href="")
				span.flaticon-002-twitter
			a(href="")
				span.flaticon-011-instagram 
			a(href="")
				span.flaticon-008-youtube
	section
		nav.container-header__nav 
			section.container-logo 
				a(href="")
					img(src="./assets/images/logo-planta.jpg", alt="Logo")
				h1 Blog
			section.container-perfil 
				a(href="perfil.html") Mi comunidad 