include componentes/head.pug
	title #{title[2]}
	body 
		include componentes/header.pug 
		main
			section.grid-container.blogpost-img-container
				img(src="assets/images/matarraton.jpg", alt="Imagen del blog")
			section.blogpost-main-container
				.grid-container 
					h3 Noticias
					article 
						h1 Matarraton 
						p El matarraton tiene múltiplos usos en la cultura popular y tradicional de los pueblos. Sirve como planta medicinal, purgativo y cebador para el ganado vacuno además de pronosticar la salida de su casa de una muchacha de pueblo con marido. 
						p  Entre los usos medicinales que tiene esta planta se usa para bajar la fiebre  haciendo una cama y cobija de los cogollos de esta planta. Se  hacen baños para secar los granos de la varicela o refrescar la picazón.
						p Las hojas secas en pequeñas cantidades se usan para cebar el ganado y las hojas verdes  en gran cantidad molidas se usan para purgarlo.
			include componentes/contact.pug  
		include componentes/footer.pug