include componentes/head.pug
	title #{title[1]}
	body 
		include componentes/header.pug 
		main.blogs-main
			section.container-blogs-news
				.grid-container.container-blogs-news-imagen
					h3 Noticias
					.container-blogs-img
						img(src="assets/images/img_medicina_tradicional.jpg", alt="imagen de blogs principal")
					.container-blogs-news-contenido
						h2 ¿Que es la medicina tradicional?
						p La medicina tradicional es todo el conjunto de conocimientos, aptitudes y prácticas basados en teorías, creencias y experiencias indígenas de las diferentes culturas 
						a.blogs-boton(href='blog_1.html') Leer mas
			section.container-blogs-posts
				.grid-container
					h2 Ultimos blogsposts
					+blog('sabila.jpg',titulo[0],'La sábila es una planta medicinal, conocida también como Aloe vera, que posee diversas propiedades para la salud y es utilizada en diversos tratamientos de belleza, principalmente a nivel del cabello y de la piel...','blog_2.html')
					+blog('romero.jpg',titulo[1],'El romero es una planta perenne que pertenece a la familia de las labiadas (Labiatae). Este arbusto puede llegar a alcanzar un metro y medio de altura. Posee muchas hojas finas y unas flores que pueden ser azuladas, blanquecinas o rosáceas...','blog_3.html')
					+blog('limon.jpg',titulo[2],'l limón es una fruta cítrica, caracterizada por un fuerte sabor ácido, tiene forma esférica y se encuentra revestido por una concha gruesa, lisa, de color verde intenso, su interior es de color amarillo...','blog_4.html')
					+blog('stevia.jpg',titulo[3],'El Stevia es un edulcorante natural obtenido de un arbusto llamado rebudiaba de stevia. Se encuentra generalmente en el continente de Suramérica. Es 200-400 veces más dulce que la sucosa y es un edulcorante no-calórico...','blog_5.html')
					+blog('ajo.jpg',titulo[4],'El ajo es un cultivo muy antiguo aprovechado por el bulbo que forma en la base de sus hojas. Es muy apreciado como condimento por el fuerte y característico sabor que presenta, y es un ingrediente muy utilizado sobre todo en la cocina mediterránea...','blog_6.html')
					+blog('consuelda.jpg',titulo[5],'La Consuelda es una planta medicinal cuyas propiedades son antiinflamatorias y cicatrizantes, es muy recomendada para uso externo en el tratamiento de fracturas menores de las articulaciones, artritis, esguinces y otras lesiones....','blog_7.html')
					+blog('guacimo.jpg',titulo[6],'Es una planta medicinal, también conocida como guácima, caulote o majagua, se trata de un árbol de mediano tamaño perteneciente a la familia de las malváceas, nativo de América tropical....','blog_8.html')
					+blog('naranja-agria.jpg',titulo[7],'La naranja agria o amarga no sólo es usada en lo culinario sino también la utilizan los expertos en hierbas para curar múltiples enfermedades. Su nombre científico es Citrus aurantium y crece en los climas tropicales...','blog_9.html')
					+blog('matarraton.jpg',titulo[8],'El matarraton tiene múltiplos usos en la cultura popular y tradicional de los pueblos. Sirve como planta medicinal, purgativo y cebador para el ganado vacuno además de pronosticar la salida de su casa de una muchacha de pueblo con marido...','blog_10.html')
					+blog('penicilina.jpg',titulo[9],'La penicilina V potásica se usa para tratar algunas infecciones provocadas por bacterias, como la neumonía y otras infecciones del tracto respiratorio, la fiebre escarlata, y las infecciones de oído, piel, encías, boca e infecciones de garganta...','blog_11.html')
					+blog('guanabano.jpg',titulo[10],'La guanábana es una fruta también conocida como guanábano, utilizada como fuente de fibras y vitaminas, siendo recomendado consumirla por personas que posean estreñimiento, diabetes y obesidad...','blog_12.html')
					+blog('marihuana.jpg',titulo[11],'es una mezcla verde, marrón o gris de partes desmenuzadas y secas de la planta de marihuana. La planta contiene sustancias químicas que actúan en el cerebro y pueden cambiar su estado de ánimo o conciencia...','blog_13.html')
					+blog('noni.jpeg',titulo[12],'es una fruta que se encuentra en la India y Panamá. Su capa exterior presenta un color verde pálido mientras que su carne es blanca y llena de huesos...','blog_14.html')
					+blog('yarumo.jpg',titulo[13],'Nombre cientifico: Cecropia telenitida, son arboles con hojas muy distintivas: éstas son grandes y duras y tienen la forma de una gran mano (digitadas). En muchas especies, el envés de la hoja es grisáceo o blanquecino...','blog_15.html')
					+blog('verdolaga.jpg',titulo[14],'Portulaca oleracea, es una de esas plantas mal llamadas malezas, que aquí en eco cosas nos gusta llamar buenazas. Crece espontanea en casi cualquier rincón, al sol o a la sombra, en suelos pobres...','blog_16.html')
		include componentes/footer.pug