include componentes/head.pug
	title #{title[2]}
	body 
		include componentes/header.pug 
		main
			section.grid-container.blogpost-img-container
				img(src="assets/images/limon.jpg", alt="Imagen del blog")
			section.blogpost-main-container
				.grid-container 
					h3 Noticias
					article 
						h1 El Limon 
						p El limón es una fruta cítrica, caracterizada por un fuerte sabor ácido, tiene forma esférica y se encuentra revestido por una concha gruesa, lisa, de color verde intenso, su interior es de color amarillo, allí el jugo se distribuye en el interior de pequeñas vesículas que se agrupan formando gajos similares a los de las naranjas.
						p  Esta fruta es rica en agua y fibra, contiene altas concentraciones de ácido cítrico y vitamina C, además de ello también contiene potasio, magnesio, sodio, fosforo, vitamina E, ácido fólico y vitaminas del complejo B. Otro beneficio de su contenido de ácido cítrico y vitamina C es que lo hace efectivo para combatir procesos infecciosos virales ayudando además a atenuar los síntomas del resfriado. Este producto es muy común y  tiene 175 propiedades curativas.

			include componentes/contact.pug  
		include componentes/footer.pug