include componentes/head.pug
	title #{title[2]}
	body 
		include componentes/header.pug 
		main
			section.grid-container.blogpost-img-container
				img(src="assets/images/guanabano.jpg", alt="Imagen del blog")
			section.blogpost-main-container
				.grid-container 
					h3 Noticias
					article 
						h1 Guanabano 
						p La guanábana es una fruta también conocida como guanábano, utilizada como fuente de fibras y vitaminas, siendo recomendado consumirla por personas que posean estreñimiento, diabetes y obesidad. 
						p  La fruta posee un formato oval, posee una cáscara de color verde oscura y está cubierta de espinas. La parte interna está formada por una pulpa blanca con un sabor levemente endulzado y un poco ácido, siendo muy utilizada en la preparación de batidos y de postres. Las hojas de guanábana pueden ser utilizadas para la reparación de tés. El nombre científico de la guanábana es Annona muricata L.
			include componentes/contact.pug  
		include componentes/footer.pug