include componentes/head.pug
	title #{title[1]}
	body 
		include componentes/header.pug 
		main.perfil-main 
			section.perfil-descripcion-container 
				.grid-container.perfil-descripcion-container-img
					.perfil-img-container
						img(src="assets/images/portada.jpg", alt="")
					.perfil-info-container
						h1 Hola!
						p La comunidad indigena vergel calarma se conformo en el año 1990 siendo reconocidos y ayudados  por parte de la emisora Crit estereo  ella los ayudo a ser reconocidos por el estado, en este momento hay 40 familias  con 290 integrantes, son una comunidad muy unida, respeonsable y perseverante con los proyectos que llegan a nuestra comunidad.  
			section.perfil-proyectos-container
				.grid-container
					h2 Proyectos
					.proyectos-main-container
						article.proyecto-container
							h3 Titulo 1
							p La comunidad indigena vergel calarma se conformo en el año 1990 siendo reconocidos y ayudados  por parte de la emisora Crit estereo  ella los ayudo a ser reconocidos por el estado, en este momento hay 40 familias  con 290 integrantes, son una comunidad muy unida, respeonsable y perseverante con los proyectos que llegan a nuestra comunidad.  
						article.proyecto-container
							h3 Titulo 2
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam vitae voluptates nostrum est quaerat beatae laborum rerum doloribus porro delectus earum expedita dolorem itaque quod perferendis, error eum ipsam unde?Lorem ipsum dolor sit 
						article.proyecto-container
							h3 Titulo 3
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam vitae voluptates nostrum est quaerat beatae laborum rerum doloribus porro delectus earum expedita dolorem itaque quod perferendis, error eum ipsam unde?Lorem ipsum dolor sit it. Doloremque, eveniet saepe. Recusandae, quas. Animi nostrum corrupti architecto aliquam, tenetur aliquid excepturi rerum minus nihil, id in dignissimos. Illum, eius maxime.
			include componentes/contact.pug
		include componentes/footer.pug 